/*
 * — Toka User Settings CSS —
 * tags: user, page, settings, config
 */

/* Individual setting classes
 */
.settings-tab {
    width: 100px;
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: center;
    border-width: 3px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(0,0,0,0.5);
}

.settings-tab a {
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
}

.settings-tab a:hover {
    background-color: #ff7d1e;
}

.settings-tag {
    width: 100px;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.settings-tag:hover {
    background-color: #ff7d1e;
}

/* General setting classes
 */
.settings-orange {
    background-color: #ff7d1e !important;
}

.settings-black {
    background-color: rgba(0,0,0,0.3) !important;
}

.settings-bar {
    cursor: default;
    padding: 0px;
    margin: 0px;
    background-color: #252525;
    font-weight: 600;
}
.settings-bar ul {
    flex-direction: row;
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.settings-bar ul li {
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
}
.settings-bar ul li a {
    padding: 15px 30px;
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.settings-bar a:hover {
    background-color: #ff7d1e;
}


.settings-active {
    display: block !important;
}
.settings-inactive {
    display: none;
}

.settings-body {
    cursor: default;
    padding: 0px;
    margin: 0px;
    background-color: rgba(0,0,0,0.85);
    color: white;
    padding: 10px 0px 0px 10px;
}
.settings-body section {
    display: none;
}

.settings-settings {
    padding: 10px 20px 10px 20px;
}
.settings-settings {
    margin-left: 0px;
    list-style-type: none;
}
.settings-settings li {
    max-width: 200px;
    margin-bottom: 30px;
}
.settings-settings a, .settings-settings a:hover, .settings-settings a:visited {
    color: rgb(255,255,255);
    text-decoration: none;
    cursor: pointer;
}
.settings-subtitle {
    background-color: rgba(0,0,0,0.2);
    padding: 10px 10px;
    font-size: 30px;
    margin: -10px 0px 0px -10px;
}