/*********************************************
 * Toka CSS
 * RULES:
 * 1. Group by ids, classes
 * 2. Sort rules in alphabetical order
 * 3. If you are creating a new section, add some tags PL0X!
**********************************************/

/*
 * - Toka Animation CSS *
 * tags: animation
 */
@-moz-keyframes preloader {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -moz-transform: translateY(9px) rotate(22.5deg);
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -moz-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
    transform: scale(1, 0.9) translateY(18px) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -moz-transform: translateY(9px) rotate(67.5deg);
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@-webkit-keyframes preloader {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
    transform: scale(1, 0.9) translateY(18px) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes preloader {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -moz-transform: translateY(9px) rotate(22.5deg);
    -ms-transform: translateY(9px) rotate(22.5deg);
    -webkit-transform: translateY(9px) rotate(22.5deg);
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -moz-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
    -ms-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
    -webkit-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
    transform: scale(1, 0.9) translateY(18px) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -moz-transform: translateY(9px) rotate(67.5deg);
    -ms-transform: translateY(9px) rotate(67.5deg);
    -webkit-transform: translateY(9px) rotate(67.5deg);
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(90deg);
    -ms-transform: translateY(0) rotate(90deg);
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@-moz-keyframes preloader-shadow {
  50% {
    -moz-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
  }
}
@-webkit-keyframes preloader-shadow {
  50% {
    -webkit-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
  }
}
@keyframes preloader-shadow {
  50% {
    -moz-transform: scale(1.2, 1);
    -ms-transform: scale(1.2, 1);
    -webkit-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
  }
}

/*
 * - Toka Nav Bar Override -
 * tags: nav, bar, override
 */
.navbar {
    border-radius: 0;
}
.navbar-default {
  /* background-color: rgb(255, 125, 30); */
  /* background-color: rgb(247,132,90); */
  /* background-color: rgb(237,121,71); */
  /* background-color: rgb(237,134,65); */
  background-color: rgb(255,133,43);
  border-color: #e5701b;
}
    .navbar-default .navbar-brand {
      color: #fefefe;
    }
        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
          color: #ffffff;
        }
        .navbar-default .navbar-text {
          color: #fefefe;
        }
    .navbar-default .navbar-nav > li > a {
      color: #fefefe;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ffffff;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #ffffff;
      background-color: #e5701b;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      color: #ffffff;
      background-color: #e5701b;
    }
    .navbar-default .navbar-toggle {
      border-color: #e5701b;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #e5701b;
    }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fefefe;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
      border-color: #fefefe;
    }
    .navbar-default .navbar-link {
      color: #fefefe;
    }
    .navbar-default .navbar-link:hover {
      color: #ffffff;
    }
@media (max-width: 767px) {
    .navbar-nav {
        margin: 0px -15px 0px 0px;       
    }
    .navbar-nav .dropdown .dropdown-toggle {
        padding: 15px 15px 15px 10px;
    }
    .navbar-nav .open .dropdown-toggle {
        padding: 15px 15px 15px 10px;
    }
    .navbar-nav .open .dropdown-menu {
        border-left: 1px solid rgba(0, 0, 0, 0.14902);
        border-bottom: 1px solid rgba(0, 0, 0, 0.14902);
        border-bottom-left-radius: 4px;
        padding: 5px 0px 5px 0px;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        left: auto;
        right: 0px;
        line-height: 20px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        height: 26px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: rgb(51, 51, 51);
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: rgb(51, 51, 51);
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #e5701b;
    }
}

/*
 * Modal Override
 *
 */
.modal-header {
    background-color: #2e3136;
    color: #fff;
}
    .modal-header .close {
        color: #fff;
    }
.modal-footer {
    background-color: #f9f9f9;
}

/*
 * — Toka General CSS —
 * tags: global, all, site-wide, general
 */
.div-center {
    margin: auto;
}
.pad-right15 {
    padding-right: 15px;
}
.clearfix {
    clear:both;
}

/*
 * — Toka Template CSS —
 * tags: global, all, site-wide
 */
#site {
    position: absolute;
    height: 100%;
    width: 100%;
}
#site-content {
    position: relative;
    margin-top: 52px;
}
#site-left-nav {
    display: none;
    margin-top: 52px;
    left: 0;
    background-color: #252525;
    width: 220px;
    color: rgb(255,255,255);
    font-size: 13px;
    font-weight: 600;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial,sans-serif;
    overflow:hidden;
    border-right: 1px #555 solid;
}
#site-menu {
    position: fixed;
    height: 52px;
    width: 100%;
    z-index: 99;
}
.alert-container {
    padding: 0px 15px;
}
.clearfix {
    clear: both;
}
.default-subtitle {
    background-color: #252525;
    color: #fff;
    padding: 20px;
    font-size: 30px;
}
.toka-theme {
    background-color: #ff7d1e;
}

/*
 * — Toka Template CSS @ 1000px width —
 * tags: global, all, site-wide
 */
@media (min-width: 768px) {
    #site-left-nav {
        display: block;
        position: fixed;
    }
}
@media (min-width: 768px) {
    #site-content {
        margin-left: 220px;
    }
}

/*
 * — Toka Site Menu CSS —
 * tags: global, all, site-wide, menu, logo
 */
#logo-container {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}
#toka-left-nav-toggle {
    display: none;
}
#toka-masthead-content {
    overflow: hidden;
    margin-top: 8px;
}
#toka-masthead-logo-container {
    position: relative;
    float: left;
    overflow: hidden;
}
#toka-masthead-user {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
#masthead-search {
    position: relative;
    max-width: 650px;
    overflow: hidden;
}
#masthead-search-btn {
    float: right;
    width: 39px;
}
#masthead-search-btn button {
    background-color: #ffaf64;    
    border-color: #FFCC99;
    color: #fff;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
    #masthead-search-btn button:hover {
        background-color: #ffaf64;
        color: #fff;
    }
#masthead-search-terms {
    position: relative;
    overflow: hidden;
    height: 34px;
}
    #masthead-search-terms input {
        position: absolute;
        width: 100%; 
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-color: #FFCC99;
    }
#user-menu {
    font-family: Lato;
}
img.menu-icon {
    width: 20px;
    height: 16px;
    margin-top: -2px;
}
.toka-button {
    background-color: #ff7d1e;
    border-color: #fff;
    color: #fff;
}
    .toka-button:hover, .toka-button:visited, .toka-button:focus {    
        color: #fff;
    }
.toka-menu-item {
    padding-right: 20px !important;
    font-family: Lato;
}
    .toka-menu-item:hover {
        background-color: #e5701b;
    }
.toka-menu-logo {
    height: 50px;
    margin-top: -15px;
    margin-left: -10px;
}

/*
 * — Toka Site Menu CSS @ 768px width —
 * tags: global, all, site-wide, menu, logo
 */
@media (min-width: 768px) {
    #toka-masthead-logo-container {
        position: relative;
        float: left;
        width: 220px;
        overflow: hidden;
    }    
    #toka-left-nav-toggle {
        display: inline-block;
        margin: 14px 15px;
        padding: 2px;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 4px;
    }  
}

/*
 * — Toka Left Nav CSS —
 * tags: global, all, site-wide, left, nav, bar
 */
#action-menu .item a {
    padding: 10px 20px;
    display: block;
    font-size: 12px;
}    
    #action-menu li a span {
        margin-left: 10px;
    }
#chatfeed iframe {
    height: 700px;
    width: 100%;
    border: 0px;
}
#chatfeed .modal-content {
    border-radius: 6px;
    max-height: 700px;
}
#copyright {
    margin-top: 10px;
    color: #eee;
}
#profile-menu {
    background-color: rgba(0,0,0,0.3);
    color: rgb(200,200,200);
}
#profile-menu li a {
    padding: 10px 20px;
    display: block;    
    color: rgb(200,200,200);
}    
    #profile-menu li a:hover {
            background-color: rgba(0,0,0,0.0);
            color: rgb(255,255,255);
    }
    #profile-menu li a span {
        margin-left: 10px;
    }
#profile-picture {
    border: 3px solid #fff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px auto 0px auto;
}
#profile-picture-img {
    height: 50px !important;
    width: 90px;
    display: block;
    margin: 20px auto 0px auto !important;
}
#profile-username {
    text-align: center;
}
#recent-channels {
    margin: 0px 10px;
}
#recent-channels .title {
    padding: 10px 10px;
    font-size: 11px;    
    border-top: 1px #ddd solid;
    text-transform: uppercase;
}
    #recent-channels .title span {
        margin-left: 10px;
    }
#recent-channels li {
    position: relative;
}
#recent-channels ul li a {
    display: block;
    padding: 8px 20px 8px 25px;
    color: rgb(200,200,200);
    font-weight: normal;
    line-height: 1;
}
    #recent-channels ul li:hover:before {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        content: "";
        border-left: 3px #738bd7 solid;
    }
    #recent-channels ul li a:hover {
        background-color: rgba(0,0,0,0.3);        
        color: #fff;
    }
#toka-footer {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}
    #toka-footer a {
        display: inline;    
        color: #eee;
    }
        #toka-footer a:hover {
            text-decoration: underline;
        }
#toka-sidebar {
    margin-top: 20px;
}
    #toka-sidebar img {
        height:13px; 
        margin-top:-2px;
    }
    #toka-sidebar  ul {
        padding-left:0px;
        margin-top:0px;
    }
    #toka-sidebar li {
        padding-left:0px;
        display:block;
    }
        #toka-sidebar .item:hover {
            background-color: rgba(0,0,0,0.3);
        }
    #toka-sidebar a {
        color: white;
        text-decoration: none;
    }
    #toka-sidebar a:hover {
        cursor: pointer;
    }
#toka-sidebar .closed {
    display: none;
}
#toka-sidebar .open {
    display: block;
}
#toka-sidebar-profile {
    padding: 20px 20px;
    display: block;
    cursor: pointer;
}
#toka-sidebar-split {
    border-top: 1px solid #fff;
}

/*
 * — Toka Create Chatroom Form —
 * tags: create, chatroom, form, new
 */
#create-chatrom-form .modal-dialog .modal-content .modal-body {
    position: relative;
}
#create-chatroom-tags-input .bootstrap-tagsinput {
    margin-bottom: 0;
}
#create-chatroom-loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 30%;
    margin-left: -15px;
    background-color: rgba(255,255,255,0.8);
}
    #create-chatroom-loader .loading:before {
        content: '';
        width: 50px;
        height: 5px;
        background: #000;
        -moz-animation: preloader-shadow 500ms linear infinite;
        -webkit-animation: preloader-shadow 500ms linear infinite;
        animation: preloader-shadow 500ms linear infinite;
        opacity: 0.1;
        position: absolute;
        top: 59px;
        left: 0;
        border-radius: 50%;
    }
    #create-chatroom-loader .loading-wrapper {
        position: relative;
        min-height: 120px;
        display: block;
    }
        #create-chatroom-loader .loading-wrapper .loading-message {
            text-align: center;
            color: rgba(0,0,0,0.8);
            font-weight: bold;
            font-size: 18px;
        }
        #create-chatroom-loader .loading-wrapper .loading {
            position: absolute;
            min-height: 100px;
            top: 50%;
            left: 50%;
            right: 0;
            bottom: 0;
            margin-left: -25px;
        }
            #create-chatroom-loader .loading-wrapper .loading:after {
                content: '';
                width: 50px;
                height: 50px;
                background: #ff7d1e;
                -moz-animation: preloader 500ms linear infinite;
                -webkit-animation: preloader 500ms linear infinite;
                animation: preloader 500ms linear infinite;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 3px;
            }            

/*
 * — Toka Category CSS —
 * tags: category, page, categories
 */
#category-list {
    margin-top: 20px;
    padding: 0 15px 0 15px;
}
#category-title {
    background-color: rgba(11,15,18,0.8);
    color: #fff;
    padding: 20px;
    font-size: 30px;
}
a.category-item, a.category-item:hover, a.category-item:visited {
    color: #000;
    text-decoration: none;
}
.category-item {
    display: table;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}
.category-image {
    float: left;
    width: 100px;
    margin: auto;
}
    .category-image img {
        background-color: #ffaf64;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
.category-caption {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align:center;
}


/*
 * — Toka Chatroom Item CSS —
 * tags: chatroom, page, chat
 */
#chatroom-item.list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}
.chatroom-item {
    max-width: 300px;
    margin: 0px auto 20px auto;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 5px;
}
.chatroom-item-top {
    display: block;
    background-color: #ffaf64;
    padding-top: 30px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
.chatroom-item-bottom {
    padding: 9px 9px 0px 9px;
}
.chatroom-item-name h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chatroom-item-details {
    overflow: hidden;
}
.chatroom-item-follow {
    float: right;
}
.chatroom-item-users {
    display: table;
    margin-top: 4px;
    float: left;
}
    .chatroom-item-users img {
        width: 25px;
    }
    .chatroom-item-users span {
        display: table-cell;
        vertical-align: middle;
    }
.chatroom-item-image {
    width: 100px;
    margin: auto;
}
.chatroom-item-host {
    margin-top: 10px;
    font-size: 10px;
}


/*
 * — Toka Chatroom CSS —
 * tags: chatroom, page, chat
 */
#chatroom-popup iframe {
    height: 700px;
    width: 100%;
    border: 0px;
}
#chatroom-popup .modal-content {
    border-radius: 6px;
    max-height: 700px;
}
#chatroom-title-update-chatroom {
    float: left;
    overflow: hidden;
    height: 30px;
    cursor: pointer;
}
    #chatroom-title-update-chatroom img {
        float: left;
        width: 16px;
        margin-right: 15px;
        -webkit-transition: transform .8s ease-in-out;
        -moz-transition: transform .8s ease-in-out;
        -o-transition: transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }
    #chatroom-title-update-chatroom:hover img {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    #chatroom-title-update-chatroom .bottom {
        margin-top: 35px;
    }
    #chatroom-title-update-chatroom .tooltip-arrow {
        margin-top: -15px;
    }
.chatroom .infobox {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 330px;
    background: #252525;
    height: 100%;
    color: #fff;
    border-top: 1px #555 solid;
}
    .chatroom .infobox .text {
        margin: 15px;
        font-size: 13px;
    }
.chatroom-heading {
    overflow: hidden;
    background-color: #252525;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}
    .chatroom-heading .title-menu {
        float: right;
        overflow: hidden;
        padding-top: 7px;
    }
    .chatroom-heading .title {
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 60%;
        white-space: nowrap;
    }
.chatroom-heading .title-menu .users {
    float: left;
    overflow: hidden;
    height: 15px;
    margin-right: 20px;
}
    .chatroom-heading .title-menu .users img {
        float: left;
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }
    .chatroom-heading .title-menu .users span {
        display: inline-block;
        float: right;
        font-size: 15px;
        line-height: 15px;
    }
.chatroom .user-list {
    display: none;
    position: absolute;
}
    .chatroom .user-list ul {
        background-color: rgba(11,15,18,0.8);
        border-radius: 4px;
        margin: 0px;
        padding: 10px;
    }
        .chatroom .user-list ul li {
            color: #fff;
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
.chatroom .chatroom-body {
    position: relative;
}
.chatroom .chatbox {
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 0 0px 0 0px;
}
    .chatroom .inputbox {
        position: relative;
        border-radius: 0px;
    }        
        .chatroom .inputbox .upload-img-btn {
            position: absolute;
            right: 14px;
            top: 10px;
            color: #F4A460;
            cursor: pointer;
            font-size: 22px;
            padding: 5px;
            z-index: 10;
        }
        .chatroom .inputbox input[data-cloudinary-field='upload-img'] {
            display: none;
        }
.chatroom .messages-container .welcome-message {
    border-bottom: 1px #eceeef solid;
    color: #949494;
    padding: 40px 20px;
}
.chatroom .messages {
    margin: 10px 0px 0px 0px;
    padding: 0 0 0 0px;
    font-family: "Verdana", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.chatroom .input-msg {
    height: 48px;
    border-radius: 0px;
    padding: 14px;
    padding-right: 40px;
    font-size: 14px;
    border: none;
    border-top: 1px #ddd solid;
    overflow: hidden;
}
.chatroom-message {
    margin-left: 35px;
    margin-bottom: 15px;
    list-style: none;
    padding: 0;
}
.chatroom-message.full-width {
    margin-left: 10px;
}
.chatroom-message .image {    
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}
.chatroom-section {
    position: relative;
}
.chatroom-message .info {
    margin-bottom: 5px;
}
.chatroom-message .info .username {
    font-weight: bold;
    margin-left: -25px;
    font-size: 11px;
    /* cursor: pointer; */
}
.chatroom-message .info .timestamp {
    float: right;
    font-size: 10px;
    margin-bottom: 5px;
}
.chatroom-message .me {
    font-weight: bold;
    padding: 4px 7px;
    white-space: pre-wrap;
    background: none !important;
    border: 1px #aaa dashed;
    border-radius: 4px;
}
.chatroom-message .emote {
    height: 23px;
}
.chatroom-message .other {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 3px 10px;
    background: #dff0d8;
    margin-left: 0;
    border-radius: 4px;
    white-space: pre-wrap;
    line-height: 23px;
}
.chatroom-message .other:after {
    white-space: normal;
    content: "";
    position: absolute;
    top: 2px;
    left: -11px;
    border-style: solid;
    border-width: 5px 15px 15px 0;
    border-color: transparent #dff0d8;
    display: block;
    width: 0;
    z-index: 1;
}
.chatroom-message .sender {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 3px 10px;
    background: #d7e4ed;
    margin-left: 0;
    border-radius: 4px;
    white-space: pre-wrap;
    line-height: 23px;
}
.chatroom-message .sender:after {
    white-space: normal;
    content: "";
    position: absolute;
    top: 2px;
    left: -11px;
    border-style: solid;
    border-width: 5px 15px 15px 0;
    border-color: transparent #d7e4ed;
    display: block;
    width: 0;
    z-index: 1;
}
.chatroom-message .spoiler {
    color: #fff;
    text-align: left;
    background-color: #444;
    border-color: #ccc;
    border-radius: 4px;
    display: inline-block;
    padding: 0px 12px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}
.chatroom-message .tokabot {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 3px 10px;
    background: rgb(255, 218, 167);
    margin-left: 0;
    border-radius: 4px;
    white-space: pre-wrap;
    line-height: 23px;
}
.chatroom-message .tokabot:after {
    white-space: normal;
    content: "";
    position: absolute;
    top: 2px;
    left: -11px;
    border-style: solid;
    border-width: 5px 15px 15px 0;
    border-color: transparent rgb(255, 218, 167);
    display: block;
    width: 0;
    z-index: 1;
}
.user-profile-link {
    cursor: pointer;
}
    .user-profile-link:hover {
        text-decoration: underline;
    }

/*
 * — Toka Chatroom CSS @ 768px width —
 * tags: chatroom, page, chat
 */
@media (min-width: 1200px) {
    .chatroom .chatbox {
        position: relative;
        margin-right: 330px;
    }
}
@media (min-width: 1200px) {
    .chatroom .infobox {
        display: block;       
    }
}
@media (min-width: 768px) {
    #chatroom-title-update-chatroom img {
        float: left;
        height: 25px;
        width: 25px;
        margin-right: 15px;
        -webkit-transition: transform .8s ease-in-out;
        -moz-transition: transform .8s ease-in-out;
        -o-transition: transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }
    .chatroom-heading {
        overflow: hidden;
        background-color: #252525;
        color: #fff;
        padding: 20px;
        font-size: 30px;
    }
    .chatroom-heading .title-menu .users {
        height: 30px;
    }
    .chatroom-heading .title-menu .users img {
        height: 25px;
        width: 25px;
        margin-right: 5px;
    }
    .chatroom-heading .title-menu .users span {
        font-size: 20px;
        line-height: 25px;
    }
}

/*
 * — Toka Update Chatroom CSS —
 * tags: chatroom, page, chat, update, form
 */
#update-chatrom-form .modal-dialog .modal-content .modal-body {
    position: relative;
}
#update-chatroom-tags-input .bootstrap-tagsinput {
    margin-bottom: 0;
}
#update-chatroom-loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 30%;
    margin-left: -15px;
    background-color: rgba(255,255,255,0.8);
}
    #update-chatroom-loader .loading-wrapper {
        position: relative;
        min-height: 120px;
        display: block;
    }
        #update-chatroom-loader .loading-wrapper .loading-message {
            text-align: center;
            color: rgba(0,0,0,0.8);
            font-weight: bold;
            font-size: 18px;
        }
        #update-chatroom-loader .loading {
            position: absolute;
            min-height: 100px;
            top: 50%;
            left: 50%;
            right: 0;
            bottom: 0;
            margin-left: -25px;
        }
            #update-chatroom-loader .loading:after {
                content: '';
                width: 50px;
                height: 50px;
                background: #ff7d1e;
                -moz-animation: preloader 500ms linear infinite;
                -webkit-animation: preloader 500ms linear infinite;
                animation: preloader 500ms linear infinite;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 3px;
            }
            #update-chatroom-loader .loading:before {
                content: '';
                width: 50px;
                height: 5px;
                background: #000;
                -moz-animation: preloader-shadow 500ms linear infinite;
                -webkit-animation: preloader-shadow 500ms linear infinite;
                animation: preloader-shadow 500ms linear infinite;
                opacity: 0.1;
                position: absolute;
                top: 59px;
                left: 0;
                border-radius: 50%;
            }   

/*
 * — Toka FAQ CSS —
 * tags: help, halp, faq, page, idk, know
 */
#faq {
    width: 80%;
    margin: 20px auto;
}
#faq .emote {
    width: 30px;
}
#faq h2 {
    margin: 20px 10px;
}