/*******************************************************************************
 * Left Navigation CSS
 ******************************************************************************/ 
#action-menu .item a {
    padding: 10px 20px;
    display: block;
}    
    #action-menu li a span {
        margin-left: 10px;
    }
#chatfeed iframe {
    height: 700px;
    width: 100%;
    border: 0px;
}
#chatfeed .modal-content {
    border-radius: 6px;
    max-height: 700px;
}
#copyright {
    margin-top: 10px;
    color: #eee;
}
#profile-menu {
    background-color: rgba(0,0,0,0.3);
    color: rgb(200,200,200);
}
#profile-menu li a {
    padding: 10px 20px;
    display: block;    
    color: rgb(200,200,200);
}    
    #profile-menu li a:hover {
            background-color: rgba(0,0,0,0.0);
            color: rgb(255,255,255);
    }
    #profile-menu li a span {
        margin-left: 10px;
    }
#profile-picture {
    border: 3px solid #fff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px auto 0px auto;
}
#profile-picture-img {
    height: 50px !important;
    width: 90px;
    display: block;
    margin: 20px auto 0px auto !important;
}
#profile-username {
    text-align: center;
}
#recent-channels {
    margin: 0px 10px;
}
#recent-channels .title {
    padding: 10px 10px;
    font-size: 11px;    
    border-top: 1px #ddd solid;
    text-transform: uppercase;
}
    #recent-channels .title span {
        margin-left: 10px;
    }
#recent-channels li {
    position: relative;
}
#recent-channels ul li a {
    display: block;
    padding: 8px 20px 8px 25px;
    color: rgb(200,200,200);
    font-weight: normal;
    line-height: 1;
}
    #recent-channels ul li:hover:before {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        content: "";
        border-left: 3px #738bd7 solid;
    }
    #recent-channels ul li a:hover {
        background-color: rgba(0,0,0,0.3);        
        color: #fff;
    }
#toka-footer {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}
    #toka-footer a {
        display: inline;    
        color: #eee;
    }
        #toka-footer a:hover {
            text-decoration: underline;
        }
#toka-sidebar {
    margin-top: 20px;
}
    #toka-sidebar img {
        height:13px; 
        margin-top:-2px;
    }
    #toka-sidebar  ul {
        padding-left:0px;
        margin-top:0px;
    }
    #toka-sidebar li {
        padding-left:0px;
        display:block;
    }
        #toka-sidebar .item:hover {
            background-color: rgba(0,0,0,0.3);
        }
    #toka-sidebar a {
        color: white;
        text-decoration: none;
    }
    #toka-sidebar a:hover {
        cursor: pointer;
    }
#toka-sidebar .closed {
    display: none;
}
#toka-sidebar .open {
    display: block;
}
#toka-sidebar-profile {
    padding: 20px 20px;
    display: block;
    cursor: pointer;
}
#toka-sidebar-split {
    border-top: 1px solid #fff;
}