#site-menu {
    display: none;
    height: 0px;
}
#site-left-nav {
    display: none;
}
#site-content {
    margin-top: 0px;
    margin-left: 0px;
}
.chatroom-heading {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
}
.infobox {
    display: none !important;
}
.chatbox {
    margin-right: 0px !important;
}